@import './../variables.scss';
.joinBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
button,
input {
    width: 100%;
    border: 2px solid rgba($white, .7);
    border-radius: 10000px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    margin: 15px 0;
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    &::placeholder {
        color: rgba($white, .7);
    }
    &:hover,
    &:active,
    &:focus {
        box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
        border-color: rgba($white, 1);
    }
}